* {
    margin: 1.25%;
}
/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    } */
    
.ContactInfo {
    display: flex;
    -ms-flex-align: inherit;
    -ms-flex-align: start;
    flex-wrap: wrap;
    background-color: white;
    z-index: 1;
}

.row1{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 10%;
    flex-grow: 1;
    flex-shrink: initial;
    
}
.row2{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;   
    
}
.h1{
    margin: 1%;
    position: relative;;
    left: 40%;
    top: 0%;
    color:#D2691E;
    font-family: 'Playfair Display SC', serif;
    
}
.Objective{

    border-style: dotted;
    color:darkgrey;
    text-indent: 10px;
    background-color: white;
}
.ContactInfo{
    border-style: dotted;
    color: darkgrey;
    text-indent: 10px;
    background-color: white;
   
}
.Skills{
    border-style: dotted;
    color: darkgrey;
    text-indent: 10px;  
    background-color: white;
}
.AwardsHonors{
    border-style: dotted;
    color: darkgrey;
    text-indent: 10px; 
    background-color: white; 
}
.Education{
    border-style: dotted;
    color: darkgrey;
    text-indent: 10px; 
    background-color: white;
}
.Employment{
    border-style: dotted;
    color: darkgrey;
    text-indent: 10px; 
    background-color: white;
    
   
}
.Exhibition{
    border-style: dotted;
    color: darkgrey;
    text-indent: 10px;
    background-color: white;
}
body {
    background: 
      radial-gradient(orange 3px, transparent 4px),
      radial-gradient(orange 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    z-index: -1;
  }